@import '../shared/variables.scss';
@import '../shared/mixins.scss';

.header {
    position: fixed;
    width: 100%;
    height: auto;
    z-index: 10;
    padding: 2.4rem;

     @include respond(desktop) {
        padding: 4rem 0;
    }

    &__container {
        width: 100%;
        margin: 0 auto;
        position: relative;
        display: flex;
        align-items: center;

         @include respond(desktop) {
            padding-left: 4rem;
            height: 9.6rem;
            gap: 6.4rem;
    }
    }

    &__logo-box {
        width: 4rem;
        height: 4rem;
        padding: 0;
        z-index: 3000;

        img {
            width: 100%;
        }

        @include respond(tablet) {
            width: 4.8rem;
            height: 4.8rem;
            margin-left: 1.5rem;
         }
    }

    &__line {
        position: absolute;
        left: 11.6vw;
        right: 44.4vw;
        height: 1px;
        position: absolute;
        right: 80rem;
        background: $white;
        opacity: 0.25;

        z-index: 2000;
        display: none;

        @include respond(desktop) {
            display: block;
        }
    }
}