$grey: #383B4B;
$dark-blue: #0B0D17;
$lavender: #D0D6F9;
$white: #fff;

$bellefair: 'Bellefair', serif;
$barlow-condensed: 'Barlow Condensed', sans-serif;
$barlow: 'Barlow', sans-serif;

$pad-top-small: 8.8rem;
$pad-top-med: 13.6rem;
$pad-top-large: 21.2rem;