@import '../../shared/variables.scss';
@import '../../shared/mixins.scss';

.crew {
    min-height: 100vh;
    background-image: url(../../../assets/crew/background-crew-mobile.jpg);
    background-size: cover;
    padding: 8.8rem 2.4rem 2.4rem;
    position: relative;

    @include respond(tablet) {
        background-image: url(../../../assets/crew/background-crew-tablet.jpg);
        padding: 13.6rem 3.85rem 0;
    }

    @include respond(desktop) {
        background-image: url(../../../assets/crew/background-crew-desktop.jpg);
        padding: 21.2rem 16.65rem 0;
    }

    .container {
       display: flex;
       flex-direction: column;

       @include respond(tablet) {
       align-items: center;
        }

        @include respond(desktop) {
            flex-direction: row;
            justify-content: space-between;
            height: 68.8rem;
        }
    }

    &__heading {
        text-align: center;
        color: $white;
        margin-bottom: 3.2rem;

        @include respond(tablet) {
            text-align: left; 
            margin-bottom: 6rem;
        }

        @include respond(desktop) {
            position: absolute;
            margin-bottom: 0;
        }

        span {
            opacity: 0.25;
            font-weight: 700;
            margin-right: 1rem;
        }
    }

    &__image-box {
        height: 22.3rem;
        text-align: center;
        border-bottom: 1px solid $grey;
        overflow: hidden;

        img {
            height: 100%;
            @include respond(tablet){
                height: 107.7%;
             }
        }

        @include respond(tablet){
           order: 2;
           height: 53.2rem;
        }

        @include respond(desktop) {
          align-self: flex-end;
        }        
    }

    &__radio-group {
        display: flex;
        gap: 1.6rem;
        justify-content: center;
        margin-bottom: 3.2rem;

        @include respond(tablet) {
        order: 1;
        }

        @include respond(desktop) {
            
        }
        
        input[type="radio"] {
            display: none;
        }

        label {
            cursor: pointer;
            display: inline-block;
            background-color: $white;
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
            opacity: 0.17;

            @include respond(desktop) {
              
            }
        }

        input[type="radio"]:checked + label {
            opacity: 1;
        }
    }


    &__member {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 3.2rem;

        @include respond(tablet) {
            
        }

        @include respond(desktop) {
           margin-top: 18.8rem;
           align-items: flex-start;
           text-align: left;
           width: 62rem !important;
           justify-content: space-between;
        }

        &--role {
            opacity: .5;
            margin-bottom: .8rem;

            @include respond(desktop) {
                margin-bottom: 1.5rem;
            }
        }

        &--name {
            margin-bottom: 1.6rem;
            z-index: 10;

            @include respond(desktop) {
                margin-bottom: 2.7rem;
            }
        }

        &--bio {
            z-index: 10;
          
            @include respond(tablet) {
              margin-bottom: 4rem;
            }

            @include respond(desktop) {
                width: 44.4rem;
            }
        }
    }
}

@include respond(tablet) {
    .commander {
        width: 45.8rem;
    }
    .specialist {
        width: 52rem;
    }
    .pilot {
        width: 59.2rem;
    }
    .engineer {
        width: 53.6rem;
    }
}

