@-webkit-keyframes messagePop {
  0% {
    opacity: 0;
    transform: translateY(3rem);
    visibility: visible;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }
}
@keyframes messagePop {
  0% {
    opacity: 0;
    transform: translateY(3rem);
    visibility: visible;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }
}
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /*This defines what 1rem is. 62.5% of 16px (browser default) is 10px. */
  font-family: "Rubik", sans-serif;
}

body {
  min-height: 100vh;
  box-sizing: border-box;
  font-size: 1.6rem;
  position: relative;
  padding: 6.4rem 3.6rem;
  margin: 0 auto;
  background-color: #fafafa;
}
@media (min-width: 75em) {
  body {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 36rem;
  }
}

main {
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 75em) {
  main {
    display: flex;
    flex-direction: row;
    gap: 12rem;
    justify-content: center;
  }
}

::-moz-selection {
  background-color: hsl(289deg, 100%, 72%);
  color: hsl(0deg, 0%, 100%);
}

::selection {
  background-color: hsl(289deg, 100%, 72%);
  color: hsl(0deg, 0%, 100%);
}

.background {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
}
.background-shape--dark, .background-shape--light {
  position: absolute;
  height: 100rem;
  width: 50rem;
  border-radius: 30rem;
}
.background-shape--dark {
  background-image: linear-gradient(220deg, hsl(293deg, 100%, 63%), hsl(293deg, 100%, 63%) 40%, hsl(264deg, 100%, 61%));
  top: -49rem;
  left: -31rem;
}
@media (min-width: 75em) {
  .background-shape--dark {
    top: -30rem;
    left: -8rem;
  }
}
.background-shape--light {
  background-image: linear-gradient(150deg, #F7F5FA, #F7F5FA 24%, #F9F4FA 25%);
  bottom: -50rem;
  right: -31rem;
  filter: blur(1px);
}
@media (min-width: 75em) {
  .background-shape--light {
    bottom: -32rem;
    right: -17.5rem;
  }
}

.phone {
  height: 50rem;
  width: 25rem;
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 3rem;
  padding: 1rem;
  margin: 0 auto;
}
@media (min-width: 75em) {
  .phone {
    margin: 0;
  }
}
.phone__background {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  background-color: #fafafa;
}
.phone__top {
  width: 100%;
  height: 6.7rem;
  background-image: linear-gradient(to left, hsl(293deg, 100%, 63%), hsl(264deg, 100%, 61%));
  border-radius: 2rem 2rem 0.5rem 0.5rem;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.phone__top--white {
  width: 13rem;
  height: 4rem;
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 1.7rem;
  position: absolute;
  top: -2.2rem;
  left: 50%;
  transform: translateX(-50%);
}
.phone__contact-info {
  display: flex;
  align-items: center;
  padding: 1.2rem 0.8rem;
  width: 100%;
}
.phone__contact-info .arrow-container {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.phone__contact-info .arrow-container .arrow {
  width: 0.4rem;
  height: 0.9rem;
  background-color: hsl(0deg, 0%, 100%);
  -webkit-clip-path: polygon(50% 0, 100% 0, 50% 50%, 100% 100%, 50% 100%, 0% 50%);
  clip-path: polygon(50% 0, 100% 0, 50% 50%, 100% 100%, 50% 100%, 0% 50%);
}
.phone__contact-info .image-box {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid hsl(0deg, 0%, 100%);
}
.phone__contact-info .image-box img {
  width: 100%;
}
.phone__contact-info .container {
  padding-left: 0.9rem;
  padding-right: 6.7rem;
}
.phone__contact-info .container .name {
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.7rem;
  color: #fafafa;
}
.phone__contact-info .container .state {
  font-size: 0.8rem;
  color: hsl(276deg, 100%, 81%);
}
.phone__contact-info .menu-more {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.phone__contact-info .menu-more .dot {
  position: relative;
}
.phone__contact-info .menu-more .dot, .phone__contact-info .menu-more .dot::before, .phone__contact-info .menu-more .dot::after {
  width: 2px;
  height: 2px;
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 50%;
  display: inline-block;
}
.phone__contact-info .menu-more .dot::before, .phone__contact-info .menu-more .dot::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.phone__contact-info .menu-more .dot::before {
  top: -0.3rem;
}
.phone__contact-info .menu-more .dot::after {
  top: 0.3rem;
}
.phone__chat {
  width: 100%;
  font-size: 0.8rem;
}
.phone__chat--1, .phone__chat--2, .phone__chat--3 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 1rem 1rem 0.7rem;
}
.phone__chat--grey, .phone__chat--white {
  max-width: 59%;
  padding: 0.6rem 0.7rem;
  border-radius: 1rem;
  line-height: 1rem;
  visibility: hidden;
}
.phone__chat--grey {
  background-color: hsla(276deg, 100%, 81%, 0.2);
  border-bottom-left-radius: 0.4rem;
}
.phone__chat--grey .message {
  color: hsl(276deg, 55%, 52%);
}
.phone__chat--2 {
  padding-top: 0.7rem;
  align-items: flex-end;
}
.phone__chat--2 .image-container {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
.phone__chat--2 .image-container img {
  width: 4rem;
  height: 4rem;
  border-radius: 1rem;
  visibility: hidden;
}
.phone__chat--white {
  background-color: hsl(0deg, 0%, 100%);
  border-bottom-right-radius: 0.4rem;
}
.phone__chat--white .message {
  color: hsl(271deg, 15%, 43%);
}
.phone__chat--3 {
  padding-top: 0.7rem;
}
.phone__chat--gradient {
  width: 16rem;
  height: 3rem;
  background-image: linear-gradient(to right, hsl(293deg, 100%, 63%), hsl(264deg, 100%, 61%));
  border-radius: 1rem;
  border-bottom-left-radius: 0.4rem;
  display: flex;
  align-items: center;
  position: relative;
  visibility: hidden;
}
.phone__chat--gradient input[type=radio] {
  display: none;
}
.phone__chat--gradient label {
  display: inline-block;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  border: 1px solid hsl(289deg, 100%, 72%);
  margin-left: 0.5rem;
  margin-right: 1rem;
}
.phone__chat--gradient .message, .phone__chat--gradient .price {
  color: hsl(0deg, 0%, 100%);
}
.phone__chat--gradient .message {
  font-size: 0.8rem;
}
.phone__chat--gradient .price {
  font-size: 1.1rem;
  position: absolute;
  right: 2rem;
}
.phone__chat--gradient input[type=radio]:checked + label {
  background-color: hsl(276deg, 100%, 81%);
}
.phone__chat--textbox {
  position: relative;
  width: 100%;
  height: 5.2rem;
  height: auto;
  padding: 1rem;
  padding-top: 0.7rem;
}
.phone__chat--textbox input[type=text] {
  display: block;
  width: 100%;
  height: 3.5rem;
  border-radius: 2rem;
  outline: none;
  border: none;
  background-color: hsl(0deg, 0%, 100%);
  font-size: 0.8rem;
  padding: 1rem 4rem 1rem 2rem;
  color: hsl(206deg, 6%, 79%);
}
.phone__chat--textbox :-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: hsl(206deg, 6%, 79%);
}
.phone__chat--textbox ::-moz-placeholder {
  color: hsl(206deg, 6%, 79%);
}
.phone__chat--textbox ::placeholder {
  color: hsl(206deg, 6%, 79%);
}
.phone__chat--textbox .btn-submit {
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: hsl(271deg, 36%, 24%);
  border: none;
  position: absolute;
  top: 1.2rem;
  right: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.phone__chat--textbox .btn-submit .icon {
  height: 1rem;
  width: 0.6rem;
  background-color: hsl(0deg, 0%, 100%);
  -webkit-clip-path: polygon(0 0, 15% 0, 100% 50%, 15% 100%, 0 100%, 0 85%, 60% 50%, 0 15%);
  clip-path: polygon(0 0, 15% 0, 100% 50%, 15% 100%, 0 100%, 0 85%, 60% 50%, 0 15%);
  border-radius: 2px;
}

.section-about {
  max-width: 45rem;
  margin-top: 6.4rem;
  text-align: center;
}
@media (min-width: 75em) {
  .section-about {
    text-align: left;
    margin-top: 0;
  }
}
.section-about__title {
  font-size: 3.9rem;
  color: hsl(271deg, 36%, 24%);
  margin-bottom: 3rem;
}
.section-about__paragraph {
  color: hsl(270deg, 7%, 64%);
  line-height: 2.8rem;
}

.animated-1 {
  -webkit-animation: messagePop 0.5s ease-out 0.5s;
          animation: messagePop 0.5s ease-out 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.animated-2 {
  -webkit-animation: messagePop 0.5s ease-out 1s;
          animation: messagePop 0.5s ease-out 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.animated-3 {
  -webkit-animation: messagePop 0.5s ease-out 2s;
          animation: messagePop 0.5s ease-out 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.animated-4 {
  -webkit-animation: messagePop 0.5s ease-out 2.5s;
          animation: messagePop 0.5s ease-out 2.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.animated-5 {
  -webkit-animation: messagePop 0.5s ease-out 3s;
          animation: messagePop 0.5s ease-out 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.animated-6 {
  -webkit-animation: messagePop 0.5s ease-out 4s;
          animation: messagePop 0.5s ease-out 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.animated-7 {
  -webkit-animation: messagePop 0.5s ease-out 4.5s;
          animation: messagePop 0.5s ease-out 4.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.animated-8 {
  -webkit-animation: messagePop 0.5s ease-out 6s;
          animation: messagePop 0.5s ease-out 6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.animated-9 {
  -webkit-animation: messagePop 0.5s ease-out 6.5s;
          animation: messagePop 0.5s ease-out 6.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.animated-10 {
  -webkit-animation: messagePop 0.5s ease-out 7s;
          animation: messagePop 0.5s ease-out 7s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}/*# sourceMappingURL=styles.css.map */