@import './variables';
@import './animations';

*, *::after, *::before { 
    margin: 0;
    padding: 0;
    box-sizing: inherit; 
}

html {
    font-size: 62.5%; /*This defines what 1rem is. 62.5% of 16px (browser default) is 10px. */
    font-family: 'Rubik', sans-serif;
}

body {
    min-height: 100vh;
    box-sizing: border-box;
    font-size: 1.6rem;
    position: relative;
    padding: 6.4rem 3.6rem;
    margin: 0 auto;
    background-color: $light-grayish-violet;

    @media (min-width: 75em) {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 36rem;
    }
}

main {
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 75em) {
        display: flex;
        flex-direction: row;
        gap: 12rem;
        justify-content: center;
    }
}

::selection {
    background-color: $very-light-magenta;
    color: $white;
}

.background {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;

    &-shape {
        &--dark, &--light {
            position: absolute;
            height: 100rem;
            width: 50rem;
            border-radius: 30rem;
        }
        &--dark {
            background-image: linear-gradient(220deg, $light-magenta, $light-magenta 40%, $light-violet);
            top: -49rem;
            left: -31rem;

            @media (min-width: 75em){
                top: -30rem;
                left: -8rem;
            }
        }
        &--light {
            background-image: linear-gradient(150deg, $very-light-pink, $very-light-pink 24%, $light-pink 25%);
            bottom: -50rem;
            right: -31rem;
            filter: blur(1px);

            @media (min-width: 75em){
                bottom: -32rem;
                right: -17.5rem;
            }
        }
    }
}

.phone {
    height: 50rem;
    width: 25rem;
    background-color: $white;
    border-radius: 3rem;
    padding: 1rem;
    margin: 0 auto;

    @media (min-width: 75em) {
        margin: 0;
    }

    &__background {
        width: 100%;
        height: 100%;
        border-radius: 2rem;
        background-color: $light-grayish-violet;
    }

    &__top {
        width: 100%;
        height: 6.7rem;
        background-image: linear-gradient(to left, $light-magenta, $light-violet);
        border-radius: 2rem 2rem .5rem .5rem;
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: flex-end;
       backface-visibility: hidden;

        &--white {
            width: 13rem;
            height: 4rem;
            background-color: $white;
            border-radius: 1.7rem;
            position: absolute;
            top: -2.2rem;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__contact-info {
        display: flex;
        align-items: center;
        padding: 1.2rem .8rem;
        width: 100%;

        .arrow-container {
            cursor: pointer;
            width: 2rem;
            height: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;

            .arrow {
            width: .4rem;
            height: .9rem;
            background-color: $white;
            -webkit-clip-path: polygon(50% 0, 100% 0, 50% 50%, 100% 100%, 50% 100%, 0% 50%);
            clip-path: polygon(50% 0, 100% 0, 50% 50%, 100% 100%, 50% 100%, 0% 50%);
            }
        }
        .image-box {
            width: 2.4rem;
            height: 2.4rem;
            border-radius: 50%;
            overflow: hidden;
            border: 1px solid $white;

            img {
                width: 100%;
            }
        }

        .container {
            
            padding-left: .9rem;
            padding-right: 6.7rem;

            .name {
                font-weight: 500;
                font-size: 1.1rem;
                line-height: 1.7rem;
                color: $light-grayish-violet;
            }
            .state {
                font-size: .8rem;
                color: $pale-violet;
            }
        }

        .menu-more {
            cursor: pointer;
            width: 2rem;
            height: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;

            .dot {
                position: relative;

                &,
                &::before,
                &::after {
                    width: 2px;
                    height: 2px;
                    background-color: $white;
                    border-radius: 50%;
                    display: inline-block;
                }

                &::before,
                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    transition: all .2s;
                }

                &::before {
                    top: -.3rem;
                }

                &::after {
                    top: .3rem;
                }
            }
        }
    }

    &__chat {
        width: 100%;
        font-size: .8rem;

        &--1, &--2, &--3 {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 1rem 1rem 1rem .7rem;
        }

        &--grey, &--white {
            max-width: 59%;
            padding: .6rem .7rem;
            border-radius: 1rem;
            line-height: 1rem;
            visibility: hidden;
        }

        &--grey {
            background-color: hsla(276, 100%, 81%, 0.2);
            border-bottom-left-radius: .4rem;
            .message { 
                color: $moderate-violet;
            }
        }

        &--2 {
            padding-top: .7rem;
            align-items: flex-end;
            .image-container {
                display: flex;
                justify-content: flex-end;
                gap: 1rem;

                img {
                    width: 4rem;
                    height: 4rem;
                    border-radius: 1rem;
                    visibility: hidden;
                }
            }
        }

        &--white {
            background-color: $white;
            border-bottom-right-radius: .4rem;

            .message {
                color: $desaturated-dark-violet;
            }
        }

        &--3 {
            padding-top: .7rem;
        }

        &--gradient {
            width: 16rem;
            height: 3rem;
            background-image: linear-gradient(to right, $light-magenta, $light-violet);
            border-radius: 1rem;
            border-bottom-left-radius: .4rem;

            display: flex;
            align-items: center;
            position: relative;

            visibility: hidden;

            input[type="radio"] {
                display: none;
            }

            label {
                display: inline-block;
                width: 1.3rem;
                height: 1.3rem;
                border-radius: 50%;
                border: 1px solid $very-light-magenta;
                margin-left: .5rem;
                margin-right: 1rem;
            }

            .message, .price {
                color: $white;
            }

            .message {
                font-size: .8rem;
            }

            .price {
                font-size: 1.1rem;
                position: absolute;
                right: 2rem;
            }

            input[type="radio"]:checked + label {
                background-color: $pale-violet;
            }
        }

        &--textbox {
            position: relative;
            width: 100%;
            height: 5.2rem;
            height: auto;
            padding: 1rem;
            padding-top: .7rem;

            input[type="text"] {
                display: block;
                width: 100%;
                height: 3.5rem;
                border-radius: 2rem;
               outline: none;
               border: none;
               background-color: $white;
               font-size: .8rem;
               padding: 1rem 4rem 1rem 2rem;
               color: $grayish-blue;
            }
            :-ms-input-placeholder { /* Internet Explorer 10-11 */
                color: $grayish-blue;
            }
              
            ::-ms-input-placeholder { /* Microsoft Edge */
                color: $grayish-blue;
            }

            ::placeholder {
                color: $grayish-blue;
            }

            .btn-submit {
                cursor: pointer;
                width: 2.5rem;
                height: 2.5rem;
                border-radius: 50%;
                background-color: $very-dark-desaturated-violet;
                border: none;
                position: absolute;
                top: 1.2rem;
                right: 1.5rem;

                display: flex;
                justify-content: center;
                align-items: center;

                .icon {
                    height: 1rem;
                    width: .6rem;
                    background-color: $white;
                    -webkit-clip-path: polygon(0 0, 15% 0, 100% 50%, 15% 100%, 0 100%, 0 85%, 60% 50%, 0 15%);
                    clip-path: polygon(0 0, 15% 0, 100% 50%, 15% 100%, 0 100%, 0 85%, 60% 50%, 0 15%);
                    border-radius: 2px;
                }
            }
        }
    }
}

.section-about {
    max-width: 45rem;
    margin-top: 6.4rem;
    text-align: center;

    @media (min-width: 75em){
        text-align: left;
        margin-top: 0;
    }

    &__title {
        font-size: 3.9rem;
        color: $very-dark-desaturated-violet;
        margin-bottom: 3rem;
    }

    &__paragraph{
        color: $dark-grayish-violet;
        line-height: 2.8rem;
    }
}

.animated {
    
    &-1 {
        animation: messagePop 0.5s ease-out .5s;
        animation-fill-mode: forwards;
    }
    &-2 {
        animation: messagePop 0.5s ease-out 1s;
        animation-fill-mode: forwards;
    }
    &-3 {
        animation: messagePop 0.5s ease-out 2s;
        animation-fill-mode: forwards;
    }
    &-4 {
        animation: messagePop 0.5s ease-out 2.5s;
        animation-fill-mode: forwards;
    }
    &-5 {
        animation: messagePop 0.5s ease-out 3s;
        animation-fill-mode: forwards;
    }
    &-6 {
        animation: messagePop 0.5s ease-out 4s;
        animation-fill-mode: forwards;
    }
    &-7 {
        animation: messagePop 0.5s ease-out 4.5s;
        animation-fill-mode: forwards;
    }
    &-8 {
        animation: messagePop 0.5s ease-out 6s;
        animation-fill-mode: forwards;
    }
    &-9 {
        animation: messagePop 0.5s ease-out 6.5s;
        animation-fill-mode: forwards;
    }
    &-10 {
        animation: messagePop 0.5s ease-out 7s;
        animation-fill-mode: forwards;
    }
}