@import '../../shared/variables.scss';
@import '../../shared/mixins.scss';

.destination {
    width: 100%;
    min-height: 100vh;
    background-image: url(../../../assets/destination/background-destination-mobile.jpg);
    background-size: cover;

    @include respond(tablet) {
        background-image: url(../../../assets/destination/background-destination-tablet.jpg);
    }

    @include respond(desktop) {
        background-image: url(../../../assets/destination/background-destination-desktop.jpg);
    }

    &__container {
        max-width: 150rem;
        margin: 0 auto;
        height: 100%;
        padding: 0 2.4rem 5.8rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include respond(tablet) {
            padding: 0 3.85rem 6.2rem;
        }

        @include respond(desktop) {
            padding: 0 16.3rem 11.8rem 16.6rem;
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-end;
        }
    }

    &__heading-5 {
        width: 100%;
        padding-top: $pad-top-small;
        text-align: center;
        margin-bottom: 3.2rem;

        @include respond(tablet) {
            text-align: left;
            padding: $pad-top-med 3.85rem 0;
            margin-bottom: 6rem;
        }

        @include respond(desktop) {
            padding: $pad-top-large 16.65rem 0;
            margin-bottom: 6.4rem;
        }

        span {
            margin-right: 1rem;
            font-weight: 700;
            opacity: 0.25;
        }
    }

    &__image-box {
        width: 17rem;
        height: 17rem;
        margin-bottom: 2.6rem;
       
        @include respond(tablet) {
            width: 30rem;
            height: 30rem;
        }

        @include respond(desktop) {
            width: 44.5rem;
            height: 44.5rem;
            margin: 0;
            align-self: flex-end;
        }

        img {
            width: 100%;
        }
    }

    &__info-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include respond(tablet) {
           width: 57.3rem;
        }

        @include respond(desktop) {
            width: 44.5rem;
            align-items: flex-start;
            margin-left: 15.7rem;
        }
    }

    &__nav {

        &-list {
            list-style: none;
            display: flex;
            gap: 2.6rem;
            margin-bottom: 3.1rem;

            @include respond(tablet) {
                margin-bottom: 4.7rem;
            }

            @include respond(desktop) {
                margin-bottom: 5.2rem;
            }
        }

        &__item {
           cursor: pointer;
        }

        &-link {
            cursor: pointer;
            text-decoration: none;
            padding-bottom: 0.8rem;
            transition: all .2s;

            &:hover {
                border-bottom: 3px solid rgba(255, 255, 255, 0.5);
            }

            &:active, .active {
                color: $white;
                border-bottom: 3px solid $white; 
            }
        }
    }

    &__description {
        text-align: center;

        @include respond(tablet) {
            margin-top: .8rem;
        }

        @include respond(desktop) {
            text-align: left;
            margin-top: 1.4rem;
        }
    }

    &__stats-container {
        width: 100%;
        text-align: center;
        border-top: 1px solid $grey;
        padding-top: 3.2rem;
        margin-top: 3.2rem;

        @include respond(tablet) {
            display: flex;
            justify-content: space-evenly;
        }

        @include respond(desktop) {
            justify-content: flex-start;
            gap: 7.9rem;
            text-align: left;
            margin-top: 5.4rem;
            padding-top: 2.8rem;
        }

        &--distance {
            margin-bottom: 3.2rem;

            @include respond(tablet) {
                margin-bottom: 0;
            }
        }
    }

    &__subheading-2 {
        margin-bottom: 1.2rem;
    }
}

.active {
    color: $white;
    border-bottom: 3px solid $white; 
}